.square {
  background: #379683;
  border: 2.5px solid #05386b;
  float: left;
  font-size: 100px;
  font-weight: bold;
  color: #5cDb95;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  font-family: 'Amatic SC', cursive;
  outline-style: none;
}